.modernMac {
    .c-menu-bar {
        height: 30px;
        background: rgba(83, 83, 83, 0.5);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
    }

    .c-menu-bar__btn {
        font-size: 15px;
        color: #fff;
    }

    .c-menu-bar__icon {
        scale: 1.1;
        filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.2));
    }

    .c-menu-bar__logo{
        scale: .8;
        filter: invert(1) drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.2));
    }
}