.style-modernMac{
  /* -----------------------------
  =menu-bar
  ----------------------------- */
  .c-menu-bar{
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px); 
    background-color: #ffffff44;
  }
}
