.oneBit{
    
    /* CSS here */

    .c-file{
        width: 75px;
        height: 75px;
    }

    .c-file__name {
        font-size: calc(14/16*1rem);
        color: #000;
        max-width: 75px;
        background-color: #fff;
    }

}