*,
*::before,
*::after {
    font-family: "Munro", system-ui, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.c-screen {
    background: url(/images/wallpaper/oneBit.jpg) 50% 50% no-repeat;
    background-size: cover;
}

img {
    filter: grayscale(1) contrast(1.8);
}