*,
*::before,
*::after {
    font-family: "Munro", system-ui, sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.c-screen {
    /* background: #C4C4C4; */
    background: url(/images/wallpaper/oneBit.jpg) 50% 50% no-repeat;
    background-size: cover;
}

img {
    filter: grayscale(1);
}