.modernMac {
  /* CSS here */

  .c-dock__icon{
    position: relative;
    transform-origin: bottom center;
    transition: transform 0.2s ease-in-out;
  }

  .c-appicon--active::before{
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ffffffab;
  }

}