.modernMac {
  /* CSS here */

  .c-dock__icon {
    position: relative;
    transform-origin: bottom center;
    transition: transform 0.2s ease-in-out;
  }

  .c-dock__app::before{
    background-color: #ffffffAA;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .c-dock__app.active::before {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

}