.skeuo {
  /* CSS here */

  .c-dock__icon{
    -webkit-box-reflect: below -5px -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0%, rgba(230, 230, 230, .5)),
			color-stop(20%, rgba(255, 255, 255, 0))
		);
  }

  .c-dock__app::before {
    background-color: #ffffff6A;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .c-dock__app.active::before {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .c-appicon::after {
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    background: transparent;

    filter: drop-shadow(0px 3px 2px rgb(0, 0, 0));
  }

}