.c-desktop__icon{
    filter: drop-shadow(1px 2px 3px rgba(0,0,0,0.2));
}

.c-desktop__icon-img--image{
    border: 2px solid #fff;
}

.c-desktop__name{
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

/* -----------------------------
=Folder
----------------------------- */

.c-folder__window{
    background-color: #2B2D2F;
}

/*
=Select
*/

.sate__selected-icon::before{
    border: 1px solid #ffffff8b;
    border-radius: 5px;
    background-color: #1111113e;
}

.sate__selected-p{
    background-color: #0085FE;
    border-radius: 3px;
    text-shadow: none;
}

/*
=Open
*/


.sate__selected-p--open{
    color: #6D6D6D;
    background-color: #CDCDCD;
    border-radius: 3px;
    text-shadow: none;

}