*,
*::before,
*::after {
  font-family: "Poppins", system-ui, sans-serif;
  font-weight: normal;
}

ul, li {
    margin: 0;
    padding: 0;
    line-height: 0;
    list-style: none;
}

body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    
    user-select: none; /* Propriété standard */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
}

/* -----------------------------
=screen
----------------------------- */

.c-screen{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

/* -----------------------------
=menu-bar
----------------------------- */
.c-menu-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: auto;
  height: 25px;
  padding: 0 10px;
  background-color: #fff;
  z-index: 999;
}

.c-menu-bar__left{
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
}

.c-menu-bar__rigth{
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
}

.c-menu-bar__item{
  height: 100%;
}

.c-menubar__application > button{
  font-weight: 600;
}

.c-menu-bar__btn{
  display: flex;
  align-items: center;
  border: none;
  background: none;
  height: 100%;
}

.c-menu-bar__icon{
  height: 85%;
  width: auto;
}

.c-mennubar__btn--date{
  font-weight: 500;
}

/* -----------------------------
=overlay
----------------------------- */

.c-screen__overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

/* -----------------------------
=container
----------------------------- */

.o-container{
  position: relative;
  height: 100%;
}


/* -----------------------------
=dock
----------------------------- */

.c-dock{
  display: flex;
  align-self: center;
  gap: 10px;
  justify-content: center;
  align-items: center;

  width: fit-content;
  min-width: 500px;
  max-width: 90vw;
  height: 70px;
  padding: 0 20px;

  margin-bottom: 6px;

  background-color: #000;
   
  z-index: 99;
}

.c-dock__static{
  width: fit-content;
  height: 100%;
}

.c-dock__active::before{
  content: "";
  width: 1.5px;
  height: 70%;
  background-color: #fff;
}

.c-dock__active{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.c-dock__app{
  position: relative;
  display: inline-block;
  height: 100%;
}

.c-dock__icon{
  height: 90%;
}

/* -----------------------------
=photo
----------------------------- */
.c-photo{
  position: relative;
  width: 100%;
  width: 100%;
}

/* -----------------------------
=slides
----------------------------- */
.c-slides{
  position: relative;
}

.c-slide__img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.state__slide-focus{
  z-index: 5;
}

.state__fullscreen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
}

/* -----------------------------
=fluidimage
----------------------------- */
.o-fluidimage{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -----------------------------
=states
----------------------------- */

.is-moving{
  z-index: 1000;
}

.state__on-focus{
    z-index: 10;
  }
  
  .state__no-focus{
    z-index: 9;
  }
