

/* -----------------------------
=photo
----------------------------- */
.c-photo{
  position: relative;
  width: 100%;
  width: 100%;
}

/* -----------------------------
=slides
----------------------------- */
.c-slides{
  position: relative;
}

.c-slide__img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.state__slide-focus{
  z-index: 5;
}

.state__fullscreen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
}

/* -----------------------------
=states
----------------------------- */

.is-moving{
  z-index: 1000;
}

.state__on-focus{
    z-index: 10;
  }
  
  .state__no-focus{
    z-index: 9;
  }
