/* -----------------------------
=app-error
----------------------------- */
.c-app-error{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 300px;
    box-sizing: border-box;
    padding: 25px;
    background-color: #fff;
  
    text-align: center;
  }
  
  .c-app-error__icon{
    width: 70px;
  }
  
  .c-app-error__title{
    font-size: calc(18/16*1rem);
    font-weight: 500;
    margin: 0;
  }
  
  .c-app-error__text{
    font-size: calc(12/16*1rem);
    margin: 0;
  }
  
  .c-app-error__btn{
    font-size: calc(14/16*1rem);
  }