.c-window {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    width: fit-content;
    height: fit-content;

    overflow: hidden;
    pointer-events: auto;
}

.c-window__head {
    width: 100%;
    height: 40px;
    background-color: #000;
}

.c-window__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: fit-content;
    height: 100%;
    list-style: none;
    margin: 0 15px;
    padding: 0;
}

.c-window__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
}

.c-window__content{
    position: relative;
    width: 100%;
    height: 100%;
}

/* -----------------------------
  =states
  ----------------------------- */

.c-window--scaled{
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    transform: translate3d(0, 0, 0) !important;
}

.c-app--scaled {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
}

.c-app__content--scaled {
    width: 100% !important;
    height: 100% !important;
    max-width: none !important;
    max-height: none !important;
    object-fit: contain !important;
}

.c-app--scaled .c-app__controls {
    position: absolute;
    bottom: 0;
}


@import "./styles/oneBit.scss";
@import "./styles/grey.scss";
@import "./styles/skeuo.scss";
@import "./styles/modernMac.scss";