.c-calculator {
    background-color: #fff;
    color: #000;
}

.c-calculator__btn {
    border: 1px solid #000;
    background-color: #fff;
    font-size: 1.2rem;
}

.c-calculator__btn:hover {
    background-color: #7f8185;
  
}

.c-calculator__screen {
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
}

.c-screen__previous {
    color: #C0C0C0;
  }
  
.c-screen__current {
    color: #fff;
  }
  
.c-calculator__btn--equals {
    background-color: #C0C0C0;
}