/* -----------------------------
=app-error
----------------------------- */

.c-app-error{
  border: 2px solid #000;;
  background-color: #ffffff;
}

.c-app-error__btn{
  border: 2px solid #000;
  background-color: #fff;
  padding: 5px 15px;
}

.c-app-error__btn--bleu{
 background-color: #C0C0C0;
 color: #000;
}