
@font-face {
  font-family: 'Munro';
  src: url('../../../fonts/oneBitFont/munro-2lye-webfont.woff2') format('woff2'),
       url('../../../fonts/oneBitFont/munro-2lye-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


*,
*::before,
*::after {
  font-family: "Munro", system-ui, sans-serif;
  font-weight: normal;
}

.c-screen{
  background: #C0C0C0;
}

/* -----------------------------
=menu-bar
----------------------------- */
.c-menu-bar{
  background-color: #fff;
  border-bottom: 2px solid #000;
}


/* -----------------------------
=photo
----------------------------- */

img{
  filter: grayscale(1) contrast(1.8);
}