.c-desktop__icon{
    filter: drop-shadow(1px 2px 3px rgba(0,0,0,0.2));
}

.c-desktop__icon-img--image{
    border: 2px solid #000;
}

.c-desktop__name{
    font-size: calc(14/16*1rem);

    color: #000;
}

/* -----------------------------
=Folder
----------------------------- */


.c-folder__window{
    background-color: #C0C0C0;
}

/*
=Select
*/

.sate__selected-icon::before{   
    border: 2px solid #000;
    background-color: #00000000;
}

.sate__selected-p{
    background-color: #000;
    color: #fff;
}

/*
=Open
*/


.sate__selected-p--open{
    color: #fff;
    background-color: #000;

}