.c-start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    color: #16191f;
    background-color: #eeeeee;
    cursor: auto;
    font-family: "Outfit", system-ui, sans-serif;
}

.c-start__title-container {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.c-start__title {
    color: #262B34;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    transition: transform 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);    

    text-shadow: 0px 0px 5px rgba(38, 43, 52, .2);
}

.c-start__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -55%, 0);
    transition: opacity 1s cubic-bezier(0.22, 0.61, 0.36, 1);
    z-index: -1;
}

.c-start__cta {
    font-size: 18px;
    padding: 1rem 2rem;
    font-family: "Outfit", system-ui, sans-serif;
    border: none;
    background-color: #262B34;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(38, 43, 52, .7);
    transform: scale(1);
    transition: transform 0.8s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.c-start__cta:hover {
    transform: scale(1.05);
    transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}


.c-intro {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.c-intro__main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.c-intro__logo {
    opacity: .5;
}

.c-intro__title {
    font-size: clamp(7vw, 2rem, 5rem);
    text-shadow: 0px 0px 10px rgba(38, 43, 52, .5);
}

.c-intro__subtitle-container {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.c-intro__subtitle {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.c-intro__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5vh 3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.c-intro-footer__text {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #262B34;
    text-align: left;
    max-width: 550px;
}

.c-intro-footer__text::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1rem;
    display: block;
    width: 2px;
    height: 100%;
    background-color: #262B34;
    margin-right: 1rem;
}


.c-tuto__main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.5vh;
    height: 100%;
}

.c-tuto__title {
    font-size: clamp(3vw, 2rem, 5rem);
}

.c-tuto__tutos {
    display: flex;
    gap: 3rem;
    font-size: calc(18/16*1rem);
    line-height: 140%;
}

.c-tuto__tuto {
    max-width: 20vw;
    transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.c-tuto__tuto-title {
    color: #262B34;
}

.c-tuto__logo {
    opacity: .3;
}

.c-text__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    max-width: 750px;
    margin: 0 auto;
    height: 100%;
}

.c-text__text{
    font-size: 18px;
}

.c-text__p{
    transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.c-text__p---muted{
    color: #262B34;
    opacity: .8;
}

.c-text__logo {
    opacity: .2;
}

.c-text__cta {
    margin-right: 30px;
}

.c-text__arrow {
    margin: 0;
    animation: arrow 2s infinite;

}

@keyframes arrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(0);
    }

    70% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}


.hidden-from-top {
    transform: translate3d(0, -110%, 0) !important;
    transition: transform 0.5s cubic-bezier(0.55,0.06,0.68,0.19);
    pointer-events: none;
}

.hidden-from-top-px{
    transform: translate3d(0, -20px, 0) !important;
    transition: transform 0.5s cubic-bezier(0.55,0.06,0.68,0.19);
}

.hidden-from-bottom {
    transform: translate3d(0, 30px, 0) !important;
    transition: transform 2s cubic-bezier(0.55,0.06,0.68,0.19);
}

.hidden-fade{
    opacity: 0 !important;
    transition: opacity 0.3s cubic-bezier(0.55,0.06,0.68,0.19);
}