.c-notif-container{
    position: absolute;
    top: 15px;
    right: 12px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    z-index: 900;
    pointer-events: auto;
}

.c-notif{
    display: flex;
    align-items: center;
    gap: 24px;

    padding: 12px 24px 12px 12px;
    width: 300px;

    color: #fff;
    background: #000;

    p{
        margin: 0;
    }
}

.c-notif__appicon{
    width: 50px;
    height: 50px;
}

.c-notif__content{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.c-notif__header{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-notif__app{
    font-size: 14px;
    font-weight: 600;
}

.c-notif__time{
    font-size: 12px;
}

.c-notif__message{
    font-size: 14px;
}


@import "./styles/oneBit.scss";
@import "./styles/grey.scss";
@import "./styles/skeuo.scss";
@import "./styles/modernMac.scss";