.flat{
    .c-notif-component{
        transform: translateX(100px);
        opacity: 0;
        transition: all 0.6s ease-out;
    }
    .c-notif{

        padding: 12px 24px 12px 12px;
    
        border-radius: 2px;
    
        color: #000;
        background: #ffffff91;
        
        box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

    }
}