.modernMac{
    .c-notif{

        padding: 12px 24px 12px 12px;
    
        border-radius: 15px;
        border: 1px solid #ffffff2b;
        outline: 1px solid #00000044;
    
        color: #fff;
        background: #4c4c4c5a;
    
        filter: drop-shadow(0px 9px 10px rgba(21, 21, 15, 0.5));
        -webkit-filter: drop-shadow(0px 9px 10px rgba(21, 21, 15, 0.5));
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

    }
}