/* -----------------------------
=menu-bar
----------------------------- */
.c-menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: auto;
    height: 25px;
    padding: 0 10px;
    background-color: #fff;
    z-index: 999;
}

.c-menu-bar__left {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
}

.c-menu-bar__rigth {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.c-menu-bar__item {
    height: 100%;
}

.c-menubar__application>button {
    font-weight: 600;
}

.c-menu-bar__btn {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    height: 100%;
}

.c-menu-bar__icon {
    height: 85%;
    width: auto;
}

.c-mennubar__btn--date {
    font-weight: 500;
}
