body {
    overflow: hidden;
    margin: 0;
    padding: 0;

    user-select: none;
    /* Propriété standard */
    -moz-user-select: none;
    /* Firefox */
    -webkit-user-select: none;
    /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none;
    /* Internet explorer depuis la version 10 et Edge */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.o-fluidimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-screen__container {
    transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);
    transform-origin: center center;
}

.scale-down {
    background-color: red;
    transform: scale3d(0.8, 0.8, 0.8);
}

.scale-up {
    transform: scale3d(1.2, 1.2, 1.2);
}

.scale-normal {
    transform: scale3d(1, 1, 1);
}


/* font import */

@font-face {
    font-family: 'Munro';
    src: url('/fonts/oneBitFont/munro-2lye-webfont.woff2') format('woff2'),
         url('/fonts/oneBitFont/munro-2lye-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MS Sans Serif';
    src: url('/fonts/greyFont/ms_sans_serif-webfont.woff2') format('woff2'),
         url('/fonts/greyFont/ms_sans_serif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lucida Grande';
    src: url('/fonts/skeuoFont/lucidagrande-webfont.woff2') format('woff2'),
         url('/fonts/skeuoFont/lucidagrande-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Mobile alert */

.c-mobile-device{
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    left: 0;
    width: 100%;
    height: 110%;
    z-index: 900;
    color: #16191f;
    background-color: #eeeeee;
    cursor: auto;
    font-family: "Outfit", system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    overflow-y: hidden;
}


.c-mobile__title {
    color: #262B34;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase; 
    font-size: clamp(1.5rem, 9vw, 3rem);

    text-shadow: 0px 0px 5px rgba(38, 43, 52, .4);
}

.c-mobile__subtitle{
    opacity: .7;
    text-align: center;
    font-size: calc((18/16)*1rem);
    max-width: 75vw;
}

.c-mobile__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75vw;
    max-width: 350px;
    height: auto;
    transform: translate3d(-50%, -55%, 0);
    opacity: .4;
    z-index: -1;
}

@keyframes float {
    0% {
        transform: translate3D(0, 0, 0) rotate(2deg);
    }
    50% {
        transform: translate3D(0, -10px, 0) rotate(-2deg);
    }
    100% {
        transform: translate3D(0px) rotate(2deg);
    }
}

.c-mobile__icon {
    width: 100px;
    height: auto;
    transform: rotate(2deg);
    filter: grayscale(0%);
    margin-bottom: 30px;
    filter: drop-shadow(0px 10px 10px rgba(38, 43, 52, .5));
    animation: float 3s ease-in-out infinite;
}