.c-appicon {
    position: relative;
    display: inline-block;
    height: 100%;
}

.c-appicon::after {
    content: attr(name);
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 0.8em;
    white-space: nowrap;
}

.c-appicon:hover::after {
    display: block;
}

.c-dock__app {
    height: 100%;
}

.c-dock__app::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #000;
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
}

.c-dock__app.active::before {
    opacity: 1;
}


.c-dock__icon {
    height: 90%;
}

@import "./styles/oneBit.scss";
@import "./styles/modernMac.scss";