.c-screen {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

/* -----------------------------
=overlay
----------------------------- */

.c-screen__overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

/* -----------------------------
=container
----------------------------- */

.c-display-container {
    position: relative;
    height: 100%;
}

/* States */

.is-moving {
    z-index: 1000 !important
}